<p>Olá,</p>

<p>
  Acaba de ser finalizada uma reunião do projeto <strong>{{projectName}}</strong>, edição <strong>{{projectEdition}}</strong>.
  <br />
  Por favor, o quanto antes dê uma lida na ata dessa reunião (segue em anexo). Caso precise, aqui está também um acesso rápido para a
  <a href="{{projectFolderUrl}}" target="_blank">pasta do projeto no Drive</a>.
</p>

<p>Ah, e não se esqueça de fazer as suas tarefas antes do prazo determinado, casa tenha ficado encarregado de alguma.</p>

<p>Nos vemos na próxima reunião!</p>

<p>
  Att.,
  <br />
  SA-SEL
</p>
